h1 {
  text-align: center;
  font-size: 5rem;
}

.jumbotron{
  background-color: rgba(219, 219, 219, 0.7);
}

.HomeIndexButtons {
  text-align: center;
}

.bottom {
  font-size: 20px;
  /* text-align: center; */
}

html{
  height:100%;
}

body{
  background-image: url("../css/images/salon.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-size: 15px;
  height:100%
}

.container-fluid{
  background-color: rgb(132, 255, 221, .7);
  min-height: 100%;
  overflow:hidden;
}

.container{
  background-color: rgb(132, 255, 221, .7);
  min-height: 100%;
  overflow:hidden;
}

.centerContent{
  text-align: center;
}

.deleteName{
  font-size:2rem;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p{
  font-size: 2rem;
}