h1 {
  text-align: center;
  font-size: 5rem;
}

.HomeIndexButtons {
  text-align: center;
}

.bottom {
  font-size: 20px;
  bottom: 5%;
  left: 44%;
  position: fixed;
  text-align: center;
}

html{
  height:100%;
}

body{
  background-color: rgb(228, 228, 228);
  background-size: cover;
  background-attachment: fixed;
  font-size: 15px;
  height:100%
}

.container-fluid{
  background-color: rgb(132, 255, 221);
  min-height: 100%;
  overflow:hidden;
}

.container{
  background-color: rgb(132, 255, 221);
  min-height: 100%;
  overflow:hidden;
}

.centerContent{
  text-align: center;
}

.deleteName{
  font-size:2rem;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}