h1 {
  text-align: center;
  font-size: 5rem;
}

.jumbotron{
  background-color: rgba(75, 75, 75, 0.8);
  color: whitesmoke;
}

.HomeIndexButtons {
  text-align: center;
}

html{
  height:100%;
}

body{
  background-image: url("../css/images/salon.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-size: 15px;
  height:100%;
  color: whitesmoke;
}

input{
  color: black;
}

.container-fluid{
  background-color: rgba(75, 75, 75, 0.8);
  min-height: 100%;
  overflow:hidden;
}

.container{
  background-color: rgba(75, 75, 75, 0.8);
  min-height: 100%;
  overflow:hidden;
}

.centerContent{
  text-align: center;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p, h5, .deleteName{
  font-size: 2rem;
}

a{
  color: rgb(132, 255, 221);
}