@{
  Layout = "_Layout";
}

<h1>Welcome to Eau Claire's Salon</h1>|

<a href='@Url.Action("Index", "Clients")'>
  <img src='@Url.Content("~/HairSalon/wwwroot/assets/images/Program/ClientsIndex.PNG")' />
</a>

<a href='@Url.Action("Index", "Stylists")'>
  <img src='@Url.Content("~/HairSalon/wwwroot/assets/images/Program/StylistsIndex.PNG")' />
</a>