@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist;

<h1>Welcome to Eau Claire's Salon</h1>|

<div class="HomeIndexButtons">
  <a href='@Url.Action("Index", "Clients")'>
    <img src='@Url.Content("~/assets/images/Program/ClientsIndex.png")' />
  </a>

  <a href='@Url.Action("Index", "Stylists")'>
    <img src='@Url.Content("~/assets/images/Program/StylistsIndex.png")' />
  </a>
</div>
